{% extends 'paginas/modelo.html' %}
{% load static  %}
{% load crispy_forms_tags %}

{% block conteudo %}
<h3>{{ titulo }}</h3>
<p class="lead">
    Preencha todos os campos obrigatórios.
</p>
<hr>

<form action="" method="POST">
    {% csrf_token %}
    
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">{{ botao }}</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    document.ready(function(){
        alert("ok");
        $('.data').mask('00/00/0000');
        $('#id_cpf').mask('000.000.000-00');
        $('#id_telefone').mask('(00)000000000')
    });
</script>
{% endblock %}