<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

</head>
<body>
    {% block menu %}
    <div class="bg-light">
        Menu
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg-secondary">
        Fig. em destaque
    </div>
    {% endblock %}

    <div class="container">    
    {% block conteudo %}
        Template de modelo
    {% endblock %}
    </div>
        
    {% block rodape %}
    <div class="bg-dark">
        Rodape
    </div>
    {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>